<h1><%= @task.title %></h1>
<h2><%= @task.details %></h2>
<h2><%= @task.completed %></h2>
<%=link_to "edit this post", edit_task_path(@task) %> <br>
<%= link_to 'delete this task', task_path(@task),method: :delete,
      data: { confirm: "Are you sure?" } %> <br>
<%=link_to 'all tasks', tasks_path %>
